@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #cccccc;
}

.header {
  background-color: #333333;
}

.title {
  font-size: 44px;
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 80px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.form_container {
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 5px;
}

.preview_container {
  min-height: 1200px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 136px auto;
}

h3 {
  font-size: 18px;
  color: #333333;
  padding: 5px;
}

.section__wrapper,
.fields__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.section__wrapper {
  margin-bottom: 20px;
}

input,
textarea {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}

textarea {
  height: 80px;
  resize: none;
}

input:focus,
textarea:focus {
  border: 1px solid #aaaaaa;
}

button {
  font-size: 16px;
  color: #eeeeee;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.black {
  background-color: #333333;
}

.black:hover {
  background-color: #292929;
}

.cvHeader {
  background-color: #143e72;
  color: #eeeeee;
  padding: 20px;
  line-height: 1.3;
  grid-column: 1 / span 2;
}

.cvName {
  font-size: 48px;
}

.cvTitle {
  font-size: 24px;
}

.content {
  padding: 20px;
  background-color: #eeeeee;
}

.content_section {
  margin-bottom: 20px;
}

.content_Title {
  color: #143e72;
  font-weight: 500;
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.summary {
  color: #333333;
  margin: 10px 0px 20px 0px;
  line-height: 1.6;
}

.sidebar {
  background-color: #dddddd;
  padding: 20px;
}

footer {
  margin-top: 30px;
  padding: 5px;
  background-color: #333333;
  color: #eeeeee;
  height: 42px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
